@import '~bootstrap/scss/bootstrap';

$primary: white;
$secondary: #FF69B4;


body {
  background-color: #282c34;
}

p {
  color: white;
}

.header {
  background-color: #343a45;
}

.img-responsive {
  height: 30%;
  width: 30%;
  margin-left: 1em;
}

.drop-down-prompt {
  color: white;
  font-size: 1.2rem;
  margin-right: 1rem;
}
