@import '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

$primary: white;
$secondary: #FF69B4;


body {
  background-color: #282c34;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

p {
  color: #ededed;
  font-size: 16px;
}

.header {
  background-color: #343a45;
}

.img-responsive {
  height: 40%;
  width: 40%;
  margin-left: 1rem;
}

.drop-down-prompt {
  color: white;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.card {
  background-color: #343a45;
  border-radius: 25px;
}

.payment-text {
  color: $secondary;
  font-size: 20px;
}

.payee-name {
  font-size: 23px;
}

.payee-title-text {
  color: $secondary;
  font-size: 23px;
  text-align: center;
}

.key-text-header {
  // color: #7a7a7a;
  // color: #969696;
  color: #a0b2d9;
}

#remit-title {
  text-align: center;
  color: #ededed;
  margin-bottom: 1.5rem;
}

.copyright-fixed {
  background-color: #343a45;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.copyright {
  background-color: #343a45;
  width: 100%;
}

svg {
  margin-right: 0.5rem;
  color: $secondary;
  font-size: 20px;
}

.card-header-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.remittance-div-section {

}
