@import '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

$primary: white;
$secondary: #FF69B4;


body {
  background-color: #282c34;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #ededed;
}

.header {
  background-color: #343a45;
}

.img-responsive {
  height: 30%;
  width: 30%;
  margin-left: 1em;
}

.drop-down-prompt {
  color: white;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.card {
  background-color: #343a45;
}

.payment-text {
  color: $secondary;
}

.payee-title-text {
  color: $secondary;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
